body{
  font-family: 'Quicksand', sans-serif;
  background-image: url('../images/ghana.jpg');
  color: white;
  font-size: 17px;
}

  .container{
    width: 80%;
    margin: auto;
  }
  .content{
    background-color: rgba(206, 17, 38, 0.72);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px #000000;
    border-radius: 0.5%;
  }
  
  
